@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans antialiased;
}

body.light {
  @apply bg-gray-100 text-gray-800;
}

body.dark {
  @apply bg-gray-900 text-gray-100;
}
